.site-logo{
    font-family: 'Dancing Script', cursive;
}

header{
    color: #838281;
    background-color: #F9F6F4;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    padding: 30px;
}

nav{
    color: #838281;
    background-color: #F9F6F4;  
}
