body{
    font-family: 'Raleway', sans-serif;
    color: #838281;
    background-color: #F9F6F4;
}

.site-logo{
    font-family: 'Dancing Script', cursive;
}

.names{
    font-family: 'Dancing Script', cursive; 
    color: #838281;
}

header{
    color: #838281;
    background-color: #F9F6F4;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    padding: 30px;
}

.navbar-toggler{
    border: white;
}

a{
    color: grey;
}

.navbar-toggler{
    background-color: white
}